/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*custom styles */
body{
    color:white;
}
a{
    color:white;
    text-decoration: none;
}
.page-header{
    background-color:#2D3040;
    text-align: center;
    padding:20px;
}
.page-header h1{
    font-size: 30px;
    margin-bottom:20px;
    
}
.page-header a{
    margin-right:20px;
}
.first-article{
    background-color:#2D3040;
    padding:50px;
    
}
.first-article h2{
    font-size: 50px;
    margin-bottom:50px;
    margin-top:50px;
}
.first-article p{
   
    margin-bottom:80px;
}

main p{
    font-size: 20px;
    margin-top:40px;
}
.second-article{
    background-color:#4C5C96;
    padding:50px;
}
.first-article hr{
    border-bottom:0.5px solid #757575;
}
.second-article hr{
    margin:30px auto;
    border-bottom:0.5px solid #a7a7a7;
}

main h3{
    font-size: 35px;
    margin-bottom:50px;
}
.third-article{
    background-color:#45558D;
    padding:50px;
}
.fourth-article{
    background-color:#3F4E85;
    padding:50px;
}
.page-footer{
    background-color:#2D3040;
    padding:50px;
}
img{
    width:500px;
    height:500px;
    border-radius: 50%;
}
.wrapper{
    width:80%;
    margin:0 auto;
}
.wrapper a{
   font-size: 22px;
   font-weight: bold;
   margin-top:10px;
   display: inline-block;
}
p{
    color:#878892;
}
.second-article p ,.third-article p ,.fourth-article p{
    color:#D2D5E4;
}